**/.metadata
**/.recommenders
**/.vscode
**/bin
**/build
**/.gradle/
**/.classpath
**/temp/
**/.class
**/.log
**/.DS_Store
**/.settings
**/.project
**/설치프로그램/
**/.RemoteSystemsTempFiles/
!build.gradle
**/*.exe
/.metadata/
**/node_modules
